@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.icon1{
    transform: matrix(0.26, -1.08, 0.8, 0.45, 0, 0);
}
.icon2{
    transform: matrix(-0.26, -1.08, -0.8, 0.45, 0, 0);
}

.hero{
    background-color: black;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
